<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/stye_contact.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
</head>
<body>
    <cont>
        <div class="contact">
            <h1>Contact</h1>

            <div class="conde">
                <p>Tutor is waiting to assist you</p>
                <p>Please allow up to 1-Business days respone time in<br> 
                order for us to fully address yout inquiries</p>
            </div>
            
        </div>
        <div class="header-icon">
        <div class="lineja">
            <a href="#" class="Line">Line</a>
        </div>

        <div class="faceja">
            <a href="#" class="Face">Facebook</a>

        </div>
                    
      </div>
        <div class="clip">
            <img src="imgcatact/undraw_manage_chats_re_0yoj.svg">

        </div>

    </cont>
    <input type="checkbox" id="check">
<label for="check">
    <i class="fas fa-bars" id="btn"></i>
    <i class="fas fa-times" id="cancel"></i>
</label>
<div class="sidebar">
    <header>Ptao tutor</header>
    <ul>
        <a href="homepage.html" target="_blank">
            <li><a href="homepage.html"><i class="fas fa-qrcode"></i>Dashboard</a></li>
        </a>
        <a href="mycourse.html" target="_blank">
            <li><a href="mycourse.html"><i class="fas fa-calendar-week"></i>My course</a></li>
        </a>
        <a href="contact.html" target="_blank">
            <li><a href="contact.html"><i class="far fa-envelope"></i>Contact</a></li>
        </a>

        <div>
        </div>

        <div class="logout">
            <a href="login-student.html" target="_blank">
                <li><a href="login-student.html"><i class=""></i>logout</a></li>
            </a>
        </div>

</body>
</html>