<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Biology</title>

    <link rel="stylesheet" href="css/stye_detailbiohavebuy.css">
</head>

<body>
<header>
    <div class="backbuttuon">
        <div class="back">
            <a href="#" target="_blank">
                <img src="pic/Back.svg" alt="back">
            </a>
        </div>
    </div>
    <div class="contain">

        <section class="header-info">
            <div class="subject">
                <h>Biology</h>
            </div><br>

            <intro>
                <div class="introduction">
                    <h>Introduction</h>
                </div>

                <deja>
                    <div class="lessonhour">
                        <p1>3 Lesson</p1>
                    </div>

                    <div class="minja">
                        <p1>43h 3m</p1>
                    </div>
                </deja>

            </intro>

            <content>
                <div class="containerclip">
                    <div class="main-clip">
                        <div class="videoja">
                            <video src="pic/mainbio_ACE456F1-ED6C-47A9-BDB0-56D51AD10BF0.MOV" controls muted autoplay width="700"></video>
                            <h3 class="titlecourse">Introducetion</h3>
                        </div>

                        <div class="sheetwork">
                            <a href="https://drive.google.com/file/d/10xK8ZrOBvQ0fv1zSPRxP87chLDEE2dfD/view">Download study sheets for Biology</a>
                        </div>
                    </div>

                    .

                    <div class="video-list">

                        <div class="coursecontentjaa">
                            <p>Course Content</p>
                        </div>

                        <div class="listclipeng">
                            <div class="vid">
                                <video src="pic/mainbio_ACE456F1-ED6C-47A9-BDB0-56D51AD10BF0.MOV"muted width="170"></video>

                                <clipsubname>
                                    <div class="clipsubject">
                                        <p>Biology</p>
                                    </div>
                                    <div class="listcliplesson">
                                        <p2>Introducetion</p2>

                                    </div>
                                </clipsubname>
                            </div>

                            <div class="vid">
                                <video src="pic/copy_FC901D82-41B9-4F1A-B0D7-22FCFA7AE88D.MOV"muted width="170"></video>

                                <clipsubname>
                                    <div class="clipsubject">
                                        <p>Biology</p>
                                    </div>
                                    <div class="listcliplesson">
                                        <p2>Lesson 1</p2>
                                    </div>
                                </clipsubname>
                            </div>

                            <div class="vid">
                                <video src="pic/copy_FC901D82-41B9-4F1A-B0D7-22FCFA7AE88D.MOV"muted width="170"></video>

                                <clipsubname>
                                    <div class="clipsubject">
                                        <p>Biology</p>
                                    </div>
                                    <div class="listcliplesson">
                                        <p2>Lesson 2</p2>
                                    </div>
                                </clipsubname>
                            </div>

                            <div class="vid">
                                <video src="pic/copy_FC901D82-41B9-4F1A-B0D7-22FCFA7AE88D.MOV"muted width="170"></video>

                                <clipsubname>
                                    <div class="clipsubject">
                                        <p>Biology</p>
                                    </div>
                                    <div class="listcliplesson">
                                        <p2>Lesson 3</p2>
                                    </div>
                                </clipsubname>
                            </div>
                        </div>
                    </div>



                </div>
            </content>

            <div class="containdenow">
                <div class="allldetail">
                    <alldetail>
                        <div class="coursedetail">
                            <h3>Course details</h3>
                        </div>

                        <div class="jujai">
                            <p>เนื้อหาจุใจกว่า 30 ชั่วโมง (ทวนซ้ำได้ไม่ได้จำกัดรอบ)</p>
                        </div>
                        <div class="jujaisub">
                            <p>มีคุณครูคอยให้คำปรึกษาตลอดการเรียน</p>
                        </div>

                        <div class="aboutdetail">
                            <div class="de1">
                                <img src="pic/Group.svg" alt="">
                                <p>สรุปเนื้อหาภาษาจบในคอร์สเดียว ใช้เวลาเรียนเพียง 2 เดือนก็จบคอร์สได้ประหยัดเวลาเรียนเก็บเนื้อหาล่วงหน้าได้ไว้ล่วงหน้า</p>
                            </div>

                            <div class="de2">
                                <img src="pic/Group.svg" alt="">
                                <p>ครอบคลุมเนื้อตั้งแต่ ม.1-ม.3 รวมกว่า 14 บทเรียนสำคัญ พื้นฐานแน่น แม่นแกรมม่า เทคนิคใช้ได้จริง จะช่วยให้น้องๆเก่งขึ้นอย่างแน่นนอน</p>
                            </div>

                            <div class="de3">
                                <img src="pic/Group.svg" alt="">
                                <p>เหมาะสำหรับน้องที่อยากเรียนเนื้อหาล่วงหน้าเพื่อเตรียมสอบ/เพิ่มเกรดที่โรงเรียนและเรียนล่วงหน้าสำหรับปูพื้นฐานก่อนไปตะลุยโจทย์</p>
                            </div>

                            <div class="de4">
                                <img src="pic/Group.svg" alt="">
                                <p>มีโจทย์ให้น้องฝึกทำครบทุกบท ถ้าทำได้หมดโอกาสสอบเข้ามีสูงมาก</p>
                            </div>
                        </div>

                        <div class="lessonde">
                            <h3>Lesson details</h3>
                        </div>

                        <div class="aboutlesson">
                            <div class="lessonengsub">
                                <p>รวมกว่า 3 บทเรียนที่ต้องเรียนและใช้เตรียมสอบ</p>
                            </div>

                            <div class="lessoneng123">
                                <p> 1. Lesson 1<br><br>
                                    2. Lesson 2<br><br>
                                    3. Lesson 3<br><br>
                                </p>
                            </div>
                        </div>


                        </alldetail>
                </div>

            </div>
            <div class="morecourse">
                <div class="headermorecourse">
                    <p>more course</p>
                </div>
                <div class="coursemorseja">
                    <div class="morecourse1">
                        <img src="pic/IMG_5608.PNG"width="170 alt=">
                    </div>
                    <div class="morecourse2">
                        <img src="pic/IMG_math_5614.PNG" width="170 alt=">
                    </div>
                </div>
            </div>
        </section>
    </div>
</header>

</body>
</html>