<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>English</title>

    <link rel="stylesheet" href="css/stye_detaileng.css">
</head>

<body>
<header>
    <div class="backbuttuon">
        <div class="back">
            <a href="#" target="_blank">
                <img src="pic/Back.svg" alt="back">
            </a>
        </div>
    </div>
    <div class="contain">

        <section class="header-info">
            <div class="subject">
                <h>English</h>
            </div><br>

            <intro>
                <div class="introduction">
                    <h>Introduction</h>
                </div>

                <deja>
                    <div class="lessonhour">
                        <p1>3 Lesson</p1>
                    </div>

                    <div class="minja">
                        <p1>32h 35m</p1>
                    </div>
                </deja>

            </intro>

            <content>
                <div class="containerclip">
                    <div class="main-clip">
                        <div class="videoja">
                            <video src="pic/copy_7973C471-BE06-4146-8738-BB53E208150E.mov" controls muted autoplay width="700"></video>
                            <h3 class="titlecourse">Introducetion</h3>
                        </div>
                    </div>

                    <div class="video-list">

                        <div class="coursecontentjaa">
                            <p>Course Content</p>
                        </div>

                        <div class="listclipeng">
                            <div class="vid">
                                <video src="pic/copy_7973C471-BE06-4146-8738-BB53E208150E.mov"muted width="170"></video>

                                <clipsubname>
                                    <div class="clipsubject">
                                        <p>English</p>
                                    </div>
                                    <div class="listcliplesson">
                                        <p2>Introducetion</p2>

                                    </div>
                                </clipsubname>
                            </div>

                            <div class="vid">
                                <video src="pic/englesson1_08C27CB9-21E3-4E9D-A0F1-6EF2DCFBA7C7.MOV"muted width="170"></video>

                                <clipsubname>
                                    <div class="clipsubject">
                                        <p>English</p>
                                    </div>
                                    <div class="listcliplesson">
                                        <p2>Lesson 1<br>SPEAKING</p2>
                                    </div>
                                </clipsubname>
                            </div>

                            <div class="vid">
                                <video src="pic/englesson2_4C32D9EC-85FA-4420-B6D1-6EA5B0A44B3B.MOV"muted width="170"></video>

                                <clipsubname>
                                    <div class="clipsubject">
                                        <p>English</p>
                                    </div>
                                    <div class="listcliplesson">
                                        <p2>Lesson 2<br>LISTENING</p2>
                                    </div>
                                </clipsubname>
                            </div>

                            <div class="vid">
                                <video src="pic/englesson3_43A087B5-485A-442D-B684-D46418F58F8A.MOV"muted width="170"></video>

                                <clipsubname>
                                    <div class="clipsubject">
                                        <p>English</p>
                                    </div>
                                    <div class="listcliplesson">
                                        <p2>Lesson 3<br>WRITING</p2>
                                    </div>
                                </clipsubname>
                            </div>
                        </div>
                    </div>



                </div>
            </content>

            <div class="containdenow">
                <div class="allldetail">
                    <alldetail>
                        <div class="coursedetail">
                            <h3>Course details</h3>
                        </div>

                        <div class="jujai">
                            <p>เนื้อหาจุใจกว่า 30 ชั่วโมง (ทวนซ้ำได้ไม่ได้จำกัดรอบ)</p>
                        </div>
                        <div class="jujaisub">
                            <p>มีคุณครูคอยให้คำปรึกษาตลอดการเรียน</p>
                        </div>

                        <div class="aboutdetail">
                            <div class="de1">
                                <img src="pic/Group.svg" alt="">
                                <p>สรุปเนื้อหาภาษาจบในคอร์สเดียว ใช้เวลาเรียนเพียง 2 เดือนก็จบคอร์สได้ประหยัดเวลาเรียนเก็บเนื้อหาล่วงหน้าได้ไว้ล่วงหน้า</p>
                            </div>

                            <div class="de2">
                                <img src="pic/Group.svg" alt="">
                                <p>ครอบคลุมเนื้อตั้งแต่ ม.1-ม.3 รวมกว่า 14 บทเรียนสำคัญ พื้นฐานแน่น แม่นแกรมม่า เทคนิคใช้ได้จริง จะช่วยให้น้องๆเก่งภาษาอังกฤษขึ้นอย่างแน่นนอน</p>
                            </div>

                            <div class="de3">
                                <img src="pic/Group.svg" alt="">
                                <p>เหมาะสำหรับน้องที่อยากเรียนเนื้อหาล่วงหน้าเพื่อเตรียมสอบ/เพิ่มเกรดที่โรงเรียนและเรียนล่วงหน้าสำหรับปูพื้นฐานก่อนไปตะลุยโจทย์</p>
                            </div>

                            <div class="de4">
                                <img src="pic/Group.svg" alt="">
                                <p>มีโจทย์ให้น้องฝึกทำครบทุกบท ถ้าทำได้หมดโอกาสสอบเข้ามีสูงมาก</p>
                            </div>
                        </div>

                        <div class="lessonde">
                            <h3>Lesson details</h3>
                        </div>

                        <div class="aboutlesson">
                            <div class="lessonengsub">
                                <p>รวมกว่า 3 บทเรียนที่ต้องเรียนและใช้เตรียมสอบ</p>
                            </div>

                            <div class="lessoneng123">
                                <p> 1. Speaking<br><br>
                                    2. Listening<br><br>
                                    3. Writing<br><br>
                                </p>
                            </div>
                        </div>


                        </alldetail>
                </div>

                <div class="buyengcourse">
                    <div class="containbuycourse">
                        <div class="regiscourse">
                            <div class="headtitleregis">
                                <p>สมัครเรียนคอร์สนี้</p>
                            </div>
                        </div>

                        <div class="boxbuy">
                            <div class="baht">
                                <h>1,999 Baht / lifetime</h>
                            </div>

                            <div class="buttonbuynowja">
                                <a href="#">
                                    <buttonbuy>Buy course now</buttonbuy>
                                </a>
                            </div>

                        </div>
                    </div>
                </div>


            </div>
            <div class="morecourse">
                <div class="headermorecourse">
                    <p>more course</p>
                </div>
                <div class="coursemorseja">
                    <div class="morecourse1">
                        <img src="pic/IMG_math_5614.PNG"width="170 alt=">
                    </div>
                    <div class="morecourse2">
                        <img src="pic/IMG_bio_5615.PNG" width="170 alt=">
                    </div>
                </div>
            </div>
        </section>
    </div>
</header>

</body>
</html>