<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage Tutor</title>

    <link rel="stylesheet" href="css/stye_homepage.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>

    <header class="header">
        <nav class="navbar">
            <div class="OnlineLearningCourse">
                <h1>Online Learning Course</h1></div>
            <input type="checkbox" id="menu-toggle" />
            <label for="menu-toggle" id="hamburger-btn">
                <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24">
                    <path d="M3 12h18M3 6h18M3 18h18" stroke="currentColor" stroke-width="2" stroke-linecap="round"/>
                </svg>
            </label>
            <div class="buttons">
                <a href="#" class="signin">***name***</a>
                <a href="login-student.html" class="signup">Log in</a>
            </div>
        </nav>
    </header>

</head>
<body>
<contain>
</contain>

<div class="auto-group-x83s-3E1" id="G4bNJuXATBxw7UEWkzX83s">
    <div class="auto-group-27wq-MEh" id="G4bKQVMnfKzdQgsp6o27Wq">

        <div class="auto-group-9efs-8uf" id="G4bKX51A5abZHJZ62n9eFs">
            <div class="courseeng">
                <div class="containcourse">
                    <img src="pic/Rectangle 16.svg" alt="">
                    <div class="title"><p1>English</p1></div>

                    <div class="lessonhour">
                        <div class="containleshour"><div class="how-many-lesson--4RF" >3 Lesson</div></div>
                        <div class="containleshour"><div class="how-many-hour-VWZ">32h 35m</div></div>

                    </div>
                    <div class="auto-group-afmt-t3b">
                        <img class="icon-wallet-zsK" src="pic/icon _wallet_.svg" id="151"/>
                        <p class="baht-lifetime-Jd7" id="150">
                            <span class="baht-lifetime-Jd7-sub-0">1,999 Baht</span>
                            <span class="baht-lifetime-Jd7-sub-1"></span>
                            <span class="baht-lifetime-Jd7-sub-2">/ lifetime</span>
                        </p>
                    </div>

                </div>
            </div>

            <div class="coursmath">
                <div class="containcourse">
                    <img src="pic/Rectanglemath 16 (3).svg" alt="">
                    <div class="title"><p1>Mathematics</p1></div>

                    <div class="lessonhour">
                        <div class="containleshour"><div class="how-many-lesson--4RF" >3 Lesson</div></div>
                        <div class="containleshour"><div class="how-many-hour-VWZ">42h 19m</div></div>

                    </div>
                    <div class="auto-group-afmt-t3b">
                        <img class="icon-wallet-zsK" src="pic/icon _wallet_.svg" id="231:151"/>
                        <p class="baht-lifetime-Jd7" id="231:150">
                            <span class="baht-lifetime-Jd7-sub-0">2,399 Baht</span>
                            <span class="baht-lifetime-Jd7-sub-1"></span>
                            <span class="baht-lifetime-Jd7-sub-2">/ lifetime</span>
                        </p>
                        <div class="Buycourse">
                            <div class="front">
                                <a href="#">Buy Course now</a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="coursbio">
                <div class="containcourse">
                    <img src="pic/Rectangle%2016%20(2).svg" alt="">
                    <div class="title"><p1>Biology</p1></div>

                    <div class="lessonhour">
                        <div class="containleshour"><div class="how-many-lesson--4RF" >3 Lesson</div></div>
                        <div class="containleshour"><div class="how-many-hour-VWZ">43h 3m</div></div>

                    </div>
                    <div class="auto-group-afmt-t3b">
                        <img class="icon-wallet-zsK" src="pic/icon _wallet_.svg" id="230:151"/>
                        <p class="baht-lifetime-Jd7" id="230:150">
                            <span class="baht-lifetime-Jd7-sub-0">2,599 Baht</span>
                            <span class="baht-lifetime-Jd7-sub-1"></span>
                            <span class="baht-lifetime-Jd7-sub-2">/ lifetime</span>
                        </p>
                        <div class="Buycourse">
                            <div class="front">
                                <a href="#">BuyCoursenow</a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>    
    </div>
</div>
</div>
<input type="checkbox" id="check">
    <label for="check">
        <i class="fas fa-bars" id="btn"></i>
        <i class="fas fa-times" id="cancel"></i>
    </label>
    <div class="sidebar">
        <header>Ptao tutor</header>
        <ul>
            <a href="homepage.html" target="_blank">
                <li><a href="homepage.html"><i class="fas fa-qrcode"></i>Dashboard</a></li>
            </a>
            <a href="mycourse.html" target="_blank">
                <li><a href="mycourse.html"><i class="fas fa-calendar-week"></i>My course</a></li>
            </a>
            <a href="contact.html" target="_blank">
                <li><a href="contact.html"><i class="far fa-envelope"></i>Contact</a></li>
            </a>
    
            <div>
            </div>
    
            <div class="logout">
                <a href="login-student.html" target="_blank">
                    <li><a href="login-student.html"><i class=""></i>logout</a></li>
                </a>
            </div>
</body>
</html>