<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage Tutor</title>

    <link rel="stylesheet" href="css/stye_homepagetutor.css">

    <script>
        window.onload = function() {
            const showPopup = document.querySelectorAll('.bg button');
            const popupContainers = document.querySelectorAll('.popAlert');

            showPopup.forEach((popup, index) => {
                popup.onclick = () => {
                    popupContainers[index].classList.toggle('active');
                }
            });

            const closeBtns = document.querySelectorAll('.popAlert button');
            closeBtns.forEach((closeBtn) => {
                closeBtn.onclick = () => {
                    popupContainers.forEach((popup) => {
                        popup.classList.remove('active');
                    });
                }
            });
        }
    </script>

</head>
<body>
<contain>
    <header>
        <div class="navbar">
            <div class="headerja">
                <div class="logo">
                    <img src="pic/tempImageEtQlrH 1.svg" alt="">
                </div>
                <div class="ringring">
                    <img src="pic/icon _bell ring outline_.svg" alt="">
                </div>
                <div class="profile">
                    <img src="pic/Ellipse 111.svg" alt="">
                </div>
            </div>
        </div>
    </header>

</contain>

<div class="auto-group-x83s-3E1" id="G4bNJuXATBxw7UEWkzX83s">
    <div class="auto-group-27wq-MEh" id="G4bKQVMnfKzdQgsp6o27Wq">

        <div class="auto-group-9efs-8uf" id="G4bKX51A5abZHJZ62n9eFs">


            <div class="addcourse">
                <a href="#" target="_blank">
                    <img src="pic/icon _plus_.svg" alt="add">
                </a>
                <div class="addcoursee">
                    <a href="#"><h1>Add course</h1></a>
                </div>
            </div>

            <div class="courseeng">
                <div class="containcourse">
                    <img src="pic/Rectangle 16.svg" alt="">
                    <div class="title"><p1>English</p1></div>

                    <div class="lessonhour">
                        <div class="containleshour"><div class="how-many-lesson--4RF" >3 Lesson</div></div>
                        <div class="containleshour"><div class="how-many-hour-VWZ">32h 35m</div></div>

                    </div>
                    <div class="auto-group-afmt-t3b">
                        <img class="icon-wallet-zsK" src="pic/icon _wallet_.svg" id="151"/>
                        <p class="baht-lifetime-Jd7" id="150">
                            <span class="baht-lifetime-Jd7-sub-0">1,999 Baht</span>
                            <span class="baht-lifetime-Jd7-sub-1"></span>
                            <span class="baht-lifetime-Jd7-sub-2">/ lifetime</span>
                        </p>
                    </div>
                    <div class="delete">
                        <popupdelete>
                            <section class="bg">
                                <button type="button" onclick="togglePop()">
                                    <a href="#">
                                        <img src="pic/emoji%20_delete_.svg" alt="">
                                    </a>
                                </button>
                            </section>

                            <section class="popAlert">
                                <aside>
                                    <h2>Are you sure to delete course?</h2>
                                    <button type="button" onclick="togglePop()">Cancle</button>
                                    <button type="button" onclick="togglePop()">Delete</button>
                                </aside>
                            </section>
                        </popupdelete>
                    </div>
                </div>
            </div>

            <div class="coursmath">
                <div class="containcourse">
                    <img src="pic/Rectanglemath 16 (3).svg" alt="">
                    <div class="title"><p1>Mathematics</p1></div>

                    <div class="lessonhour">
                        <div class="containleshour"><div class="how-many-lesson--4RF" >3 Lesson</div></div>
                        <div class="containleshour"><div class="how-many-hour-VWZ">42h 19m</div></div>

                    </div>
                    <div class="auto-group-afmt-t3b">
                        <img class="icon-wallet-zsK" src="pic/icon _wallet_.svg" id="231:151"/>
                        <p class="baht-lifetime-Jd7" id="231:150">
                            <span class="baht-lifetime-Jd7-sub-0">2,399 Baht</span>
                            <span class="baht-lifetime-Jd7-sub-1"></span>
                            <span class="baht-lifetime-Jd7-sub-2">/ lifetime</span>
                        </p>
                    </div>
                    <div class="delete">
                        <popupdelete>
                            <section class="bg">
                                <button type="button" onclick="togglePop()">
                                    <a href="#">
                                        <img src="pic/emoji%20_delete_.svg" alt="">
                                    </a>
                                </button>
                            </section>

                            <section class="popAlert">
                                <aside>
                                    <h2>Are you sure to delete course?</h2>
                                    <button type="button" onclick="togglePop()">Cancle</button>
                                    <button type="button" onclick="togglePop()">Delete</button>
                                </aside>
                            </section>
                        </popupdelete>
                    </div>
                </div>
            </div>

        </div>
        <div class="row2">
            <div class="coursbio">
                <div class="containcourse">
                    <img src="pic/Rectangle%2016%20(2).svg" alt="">
                    <div class="title"><p1>Biology</p1></div>

                    <div class="lessonhour">
                        <div class="containleshour"><div class="how-many-lesson--4RF" >3 Lesson</div></div>
                        <div class="containleshour"><div class="how-many-hour-VWZ">43h 3m</div></div>

                    </div>
                    <div class="auto-group-afmt-t3b">
                        <img class="icon-wallet-zsK" src="pic/icon _wallet_.svg" id="230:151"/>
                        <p class="baht-lifetime-Jd7" id="230:150">
                            <span class="baht-lifetime-Jd7-sub-0">2,599 Baht</span>
                            <span class="baht-lifetime-Jd7-sub-1"></span>
                            <span class="baht-lifetime-Jd7-sub-2">/ lifetime</span>
                        </p>
                    </div>
                    <div class="delete">
                        <popupdelete>
                            <section class="bg">
                                <button type="button" onclick="togglePop()">
                                    <a href="#">
                                        <img src="pic/emoji%20_delete_.svg" alt="">
                                    </a>
                                </button>
                            </section>

                            <section class="popAlert">
                                <aside>
                                    <h2>Are you sure to delete course?</h2>
                                    <button type="button" onclick="togglePop()">Cancle</button>
                                    <button type="button" onclick="togglePop()">Delete</button>
                                </aside>
                            </section>
                        </popupdelete>
                    </div>
                </div>
            </div>
        </div>
    </div>



</div>
</div>
</div>

</body>
</html>