<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700&display=swap');
    </style>
</head>
<body>
<link rel="stylesheet" href="css/stye_homepage.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>

<div class="auto-group-x83s-3E1" id="G4bNJuXATBxw7UEWkzX83s">
    <div class="auto-group-27wq-MEh" id="G4bKQVMnfKzdQgsp6o27Wq">
        <p class="online-learning-course-fWH" id="230:141">Online Learning Course</p>
        <div class="auto-group-9efs-8uf" id="G4bKX51A5abZHJZ62n9eFs">
            <div class="clipnum-1-fPo" id="230:146">
                <img class="rectangle-16-Bd3" src="pic/Rectangle 16.png" id="230:148"/>
                <a class="english-c65" id="230:149">English</a>
                <div class="auto-group-afmt-t3b" id="G4bKpjAQEs2H4pxFk8aFmT">
                    <img class="icon-wallet-zsK" src="pic/wallet.png" id="230:151"/>
                    <p class="baht-lifetime-Jd7" id="230:150">
                        <span class="baht-lifetime-Jd7-sub-0">1,999 Baht</span>
                        <span class="baht-lifetime-Jd7-sub-1"></span>
                        <span class="baht-lifetime-Jd7-sub-2">/ lifetime</span>
                    </p>
                    <a href="#" target="_blank">
                    <div class="buynow-F4V" id="230:164">
                        <div class="rectangle-31-M7X" id="230:165"></div>
                        <p class="buy-course-now-s5s" id="230:166">Buy course now</p>
                    </div>
                    </a>
                </div>
                <div class="auto-group-4jo7-Yho" id="G4bKgu47ZjC7J26axz4jo7">
                    <div class="how-many-lesson--4RF" id="230:158">14 Lesson</div>
                    <div class="how-many-hour-VWZ" id="230:161">32h 35m</div>
                </div>
            </div>
            <div class="clipnum-2-gqw" id="230:251">
                <img class="rectangle-16-RoX" src="pic/Rectangle 16-2.png" id="230:253"/>
                <p class="mathematics-8hw" id="230:254">Mathematics</p>
                <div class="auto-group-pkuj-d8u" id="G4bLMdSaX7GYBzeoEzpKuj">
                    <img class="icon-wallet-WyP" src="pic/wallet.png" id="230:256"/>
                    <p class="baht-lifetime-2gq" id="230:255">
                        <span class="baht-lifetime-2gq-sub-0">2,399 Baht</span>
                        <span class="baht-lifetime-2gq-sub-1"></span>
                        <span class="baht-lifetime-2gq-sub-2">/ lifetime</span>
                    </p>
                    <a href="#" target="_blank">
                    <div class="buynow-99B" id="230:269">
                        <div class="rectangle-31-sL5" id="230:270"></div>
                        <p class="buy-course-now-1BP" id="230:271">Buy course now</p>
                    </div>
                    </a>
                </div>
                <div class="auto-group-fcq7-5h3" id="G4bLEJKTYj8TyfU617fCq7">
                    <div class="how-many-lesson--QUR" id="230:263">9 Lesson</div>
                    <div class="how-many-hour-ReR" id="230:266">42h 19m</div>
                </div>
            </div>
        </div>
    </div>
    <div class="auto-group-dpgd-eXB" id="G4bMDwL5vGrrZMbrqeDPgd">
        <div class="auto-group-iuey-bSR" id="G4bMMmSNbQh2LATXcniuey">
            <div class="item--KNR" id="230:142">
                <p class="en-K13" id="230:143">EN</p>
                <div class="line-2-owo" id="230:145"></div>
                <p class="th-Kv9" id="230:144">TH</p>
            </div>
            <a href="register.html" target="_blank">
            <div class="register-4sj" id="230:272">Register</div>
            </a>
            <a href="login-student.html" target="_blank">
            <div class="register-KHs" id="230:275">Log in</div>
            </a>
        </div>
        <div class="clipnum-3-xrd" id="230:230">
            <img class="rectangle-16-6hw" src="pic/Rectangle 16-3.png" id="230:232"/>
            <p class="biology-DGm" id="230:233">Biology</p>
            <div class="auto-group-ly5f-7N9" id="G4bMxkS5n95jXZUZMKLY5f">
                <img class="icon-wallet-Rdj" src="pic/wallet.png" id="230:235"/>
                <p class="baht-lifetime-kAD" id="230:234">
                    <span class="baht-lifetime-kAD-sub-0">2,599 Baht</span>
                    <span class="baht-lifetime-kAD-sub-1"></span>
                    <span class="baht-lifetime-kAD-sub-2">/ lifetime</span>
                </p>
                <a href="#" target="_blank">
                <div class="buynow-zyf" id="230:248">
                    <div class="rectangle-31-KFF" id="230:249"></div>
                    <p class="buy-course-now-qUV" id="230:250">Buy course now</p>
                </div>
                </a>
            </div>
            <div class="auto-group-br13-YnD" id="G4bMqRJxokwfKEHr7SBR13">
                <div class="how-many-lesson--c1P" id="230:242">12 Lesson</div>
                <div class="how-many-hour-X1s" id="230:245">43h 3m</div>
            </div>
        </div>
    </div>
</div>

</body>
</html>
