<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  
<link rel="stylesheet" href="css/style_register.css">

<form action="/action_page.php" method="post">
    <h2>Login your Account</h2>
    <div class="header-btn">
      <a href="login-student.html" class="student">student</a>
      <a href="login-tutor.html" class="Tutor">Tutor</a>
    </div>
    <div class="container">
    <label for="uname"><b>Username</b></label>
    <input type="text" placeholder="Enter Username" name="uname" required><br><br>

    <label for="psw"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="psw" required><br><br>
        
    <button type="submit">Login</button><br><br>
    
    </div>

    <div >
      <span class="psw">Create an account? <a href="register.html">Sing up</a></span>
    </div>

</form>
<div class="img">
  <img src="/src/main/resources/img/undraw_reading_re_29f8 1.svg" alt="people">
</div>

</body>
</html>
  
</body>
</html>