<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

<body id="body-pd">
<div class="l-navbar" id="navbar">
    <nav class="nav">
        <link rel="stylesheet" href="/src/main/resources/template/css/stye_mycourse.css">
        
    </nav>
</div>
<div class="content">
    <h1>My course</h1>
    <h3 class="mt--1">1 course</h3>
    <hr>
    <div class="card radius-20 mt-25">
        <div class="card__body">
            <img class="card__img" src="./img/course.jpg" alt="Classical Watch">
            <h3 class="card__title">English</h3>

            <span class="c-pill c-pill--secondary mr-10">14 lesson</span>
            <span class="c-pill c-pill--secondary">32h 35m</span>

            <div class="card__footer">
                <div>
                    <div class="fs-75">
                        <span class="fs-price"><img src="img/icon _wallet_.png" /></ion-icon> 1,999 Bath</span> / lifetime</div>
                </div>
                <span class="c-pill c-pill--success text-light">Learn course</span>
            </div>
        </div>
    </div>


</body>

</html>