<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" Payment information="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/stye_payment.css">
</head>
<body>
    <div class="backbuttuon">
        <div class="back">
            <a href="#" target="_blank">
                <img src="imgpayment/Back.svg" alt="back">
            </a>
        </div>
    </div>
        <div class="Payment information">
            <h1>Payment information</h1>

            <div class="pmdetail">
                <div class="red">
                    <p1>***Please follow the recommended steps***</p1>
                </div>
                <p2>1.Pay according to the payment method of your choice.</p2>

                <img src="imgpayment/IMG_8873 1.svg">
                <p>คุณ เต่า ติวเตอร์ (ประเทศไทย) จำกัด<br>
                    Mr. Tao Tutor (Thailand) CO.,LTD</p>
                    <p3>2.Once payment has been made, please send the payment receipt via <br>
                          the tutor's chat box.</p3>
                    <div class="money">
                        <h2>1,999 Baht</h2>
                    </div>

            </div>
        <div class="header-icon2">
            
            <a href="#" class="Line">Contact via LINE </a>
            <a href="#" class="Face">Contact via Facebook</a>
            <a href="#" class="Back">Back to your course</a>
        </div>
    </cont>

</body>
</html>
        

