<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

<body id="body-pd">
<div class="l-navbar" id="navbar">
    <nav class="nav">
        <link rel="stylesheet" href="/src/main/resources/template/css/stye_pre_course.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
        
    </nav>
</div>
<div class="content">
    <h1>My course</h1>
    <h3 class="mt--1">0 course</h3>
    <hr>
    <div class="card radius-20 mt-25"> 
    </div>
    <input type="checkbox" id="check">
    <label for="check">
        <i class="fas fa-bars" id="btn"></i>
        <i class="fas fa-times" id="cancel"></i>
    </label>
    
    <div class="sidebar">
        <header>Ptao tutor</header>
        <ul>
            <a href="homepage.html" target="_blank">
                <li><a href="homepage.html"><i class="fas fa-qrcode"></i>Dashboard</a></li>
            </a>
            <a href="mycourse.html" target="_blank">
                <li><a href="mycourse.html"><i class="fas fa-calendar-week"></i>My course</a></li>
            </a>
            <a href="contact.html" target="_blank">
                <li><a href="contact.html"><i class="far fa-envelope"></i>Contact</a></li>
            </a>
    
            <div>
            </div>
    
            <div class="logout">
                <a href="login-student.html" target="_blank">
                    <li><a href="login-student.html"><i class=""></i>logout</a></li>
                </a>
            </div>
    

</body>

</html>