<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>register</title>
</head>
<body>
    <link rel="stylesheet" href="css/style_register.css">

    
    <div class="container1">
        <h3>Create an account</h3>
        <label for="uname"><b>Username</b></label><br>
        <input type="text" placeholder="Enter your name here" name="uname" required><br><br>
        <label for="email"><b>Email</b></label><br>
        <input type="text" placeholder="Enter your Email here" name="email" required><br><br>
        <label for="psw"><b>Password</b></label><br>
        <input type="password" placeholder="Enter your Password here" name="psw" required><br><br>

        <div class="btn2">
            <button type="submit">sign up</button><br><br>
        </div>

        <div >
            <span class="psw">Already have an account? <a href="login-student.html">Login</a></span>
          </div>
    </div>

    <div class="img1">
        <img src="/src/main/resources/img/register-women.svg" alt="people">
      </div>


</body>
</html>