<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/stye_uploadfinish.css">
</head>
<body>
<contain>
    <header>
        <div class="navbar">
            <div class="headerja">
                <div class="logo">
                    <img src="pic/tempImageEtQlrH 1.svg" alt="">
                </div>
                <div class="ringring">
                    <img src="pic/icon%20_bell%20ring%20outline_.svg" alt="">
                </div>
                <div class="profile">
                    <img src="pic/Ellipse 111.svg" alt="">
                </div>
            </div>
        </div>
    </header>
</contain>
</body>
<jud>

    <div class="cri">
        <div class="circle"></div>
        <div class="circle1"></div>
        <div class="circle2"></div>
        <div class="circle3"></div>
        <div class="circle5"></div>
    </div>
    <div class="detail">
        <p1>Upload video</p1>
        <p2>Details</p2>
        <p3>Sheet</p3>
        <p4>Successful</p4>
    </div>
    <div>
        <div class="numbernew">
            <p4>1</p4>
            <p5>2</p5>
            <p6>3</p6>
            <p7>4</p7>
        </div>

    </div>
</jud>
</div>
<div class="box">
    <div class="mg">
        <img src="pic/undraw_done_re_oak4%201.svg" alt="l">
    </div>

<a href="homepagetutor.html">
    <button type="button" class="btn1">Back to home page</button>
</a>
</div>
</html>
