<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/stye_uploadfinish.css">
</head>
<body>
<contain>
    <header>
        <div class="navbar">
            <div class="headerja">
                <div class="logo">
                    <img src="tempImageEtQlrH 1.svg" alt="">
                </div>
                <div class="ringring">
                    <img src="🦆 icon _bell ring outline_.png" alt="">
                </div>
                <div class="profile">
                    <img src="Ellipse 111.svg" alt="">
                </div>
            </div>
        </div>
    </header>
</contain>
<a1>
    <div class="mg">
        <img src="undraw_done_re_oak4 1.svg" alt="l">
    </div>
</a1>
<div class="box"></div>



</body>
</html>