<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/stye_uploaddetail.css">
</head>
<body>
<contain>
    <header>
        <div class="navbar">
            <div class="headerja">
                <div class="logo">
                    <img src="pic/tempImageEtQlrH 1.svg" alt="">
                </div>
                <div class="ringring">
                    <img src="pic/icon%20_bell%20ring%20outline_.svg" alt="">
                </div>
                <div class="profile">
                    <img src="pic/Ellipse 111.svg" alt="">
                </div>
            </div>
        </div>
    </header>
</contain>

<jud>
    <div class="cri">
        <div class="circle"></div>
        <div class="circle1"></div>
        <div class="circle2"></div>
        <div class="circle3"></div>
        <div class="circle5"></div>
    </div>
    <div class="detail">
        <p1>Upload video</p1>
        <p2>Details</p2>
        <p3>Sheet</p3>
        <p4>Successful</p4>
    </div>
    <div>
        <div class="numbernew">
            <p4>1</p4>
            <p5>2</p5>
            <p6>3</p6>
            <p7>4</p7>
        </div>

    </div>
</jud>
<body>
<div class="box">
    <div class="pr">
        <div class="p">
            <img src="pic/Rectangle%20470.png" alt="">
        </div>
        <div class="l">
            <img src="pic/Rectangle%20470.png" alt="">
        </div>
        <div class="M">
            <img src="pic/uploadFiles.svg" alt="">
        </div>
        <div class="N">
            <img src="pic/uploadFiless.svg" alt="">
        </div>
        </div>
        <div class="O">
            <img src="pic/Rectangle 466.svg" alt="">
        </div>
        <div class="Y">
            <img src="pic/uploadFiles002.svg" alt="">
        </div>
        <div class="pr1">
            <img src="pic/Actions (1).svg" alt="">
        </div>
        <a href="upload.html">
            <button type="button" class="btn">Previous</button>
        </a>

        <a href="#">
            <button type="button" class="btn1">Next</button>
        </a>

        <P class="required">Title (required)</P>
        <P class="Description">Description</P>
        
    </div>
</div>
</body>



</div>

</body>
</html>