<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Checkout</title>

    <link rel="stylesheet" href="css/stye_checkout.css">

</head>
<body>
<headerja>
    <div class="backbuttuon">
        <div class="back">
            <a href="detaileng.html" target="_blank">
                <img src="pic/Back copy.svg" alt="back">
            </a>
        </div>
    </div>

    <div class="containss">
        <section class="paymentja">
            <div class="checkouttitle">
                <h>Checkout</h>
            </div>

            <div class="containck">
                <div class="courseprice">
                    <div class="barprice">
                        <h>Course</h>
                        <h>Price</h>
                    </div>

                    <div class="colume2">
                        <div class="courseeng">
                            <img src="pic/head-789 1.svg" alt="">
                            <p>English ภาษาอังกฤษ</p>
                        </div>
                        <div class="price">
                            <h>1,999 Baht</h>
                        </div>
                    </div>

                    <div class="total">
                        <div class="subtotal">
                            <h>Subtotal :  1,999 Baht</h>
                        </div>

                        <div class="bahtt">
                            <h>Total   1,999 Baht</h>
                        </div>

                        <div class="underline"1293></div>
                    </div>
                </div>

                <div class="containinfojaa">


                    <div class="infomethod">
                        <div class="paymentinfo">
                            <div class="payyin">
                                <h>Payment Info</h>
                            </div>
                            <div class="paymehod">
                                <h>Payment Methods </h>
                            </div>

                            <div class="checkbox">
                                <input type="checkbox" id="check"/>
                                <label for="check"><img src="pic/prompt-pay-logo 1.svg" alt=""></label>
                            </div>

                            <div class="buuuton">
                                <div class="nextbutton">
                                    <a href="payment.html">
                                        <nextbtn>Next</nextbtn>
                                    </a>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </section>

    </div>

</headerja>

</body>
</html>