@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

.contain{
    max-width: 50000px;
    height: 1741px;
    margin: 0 auto;
    border: 1px solid rgb(253, 156, 245);

}

.subject{
    display: flex;
    margin-right: 41.79px;
    border: 1px solid rgb(47, 0, 255);
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

intro{
    display: flex;
    margin-right: 41.79px;
    border: 1px solid red;
    align-items: flex-end;
    padding: 10px;
}

.introduction{
    color: #428749;
    font-family: Inter;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-right: 20px;
}

deja{
    display: flex;
    padding: 10px;

}

.lessonhour{
    width: 107.725px;
    height: 22.229px;
    text-align: center;
    flex-shrink: 0;
    border-radius: 15px;
    background: #E3E3E3;
    margin-right: 20px;
}

.minja{
    width: 107.725px;
    height: 22.229px;
    text-align: center;
    flex-shrink: 0;
    border-radius: 15px;
    background: #E3E3E3;
}

content{
    display: flex;
    padding: 20px;
    align-items: center;
}

header{
    display: flex;
    justify-content: space-between;
    border: 1px saddlebrown;
    padding: 10px;
}

.clip{
    margin-right: 103px;
}

.containcontent{
    width: 282px;
    height: 558px;
    margin-left: auto;
    border-radius: var(--Forms-radius, 20px);
    background: #F8FAEC;

}

.coursecontent{
    text-align: center;
    color: #000;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    border-radius: 2rem;
    flex-direction: column;
    flex-shrink: 0;
    padding: 1.9rem 1.4rem 9.5rem 1.7rem;
    
}

.coursedetail{
    width: 206px;
    height: 31.076px;
    flex-shrink: 0;
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    border-radius: 15px;
    background: #428749;


}

.lessonde{
    width: 206px;
    height: 30px;
    flex-shrink: 0;
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    border-radius: 15px;
    background: #428749;

}

.back{
    width: 49.732px;
    height: 100px;
    flex-shrink: 0;
    
}


