<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="detailcourse.css">
</head>

<body>
    <header>
        <div class="backbuttuon">
            <div class="back">
                <a href="#" target="_blank">
                    <img src="imgdetail/Back.svg" alt="back">
                </a>
            </div>
        </div>
        <div class="contain">
        
            <section class="header-info"> 
                <div class="subject">
                    <h1>English</h1>
                </div><br>

                <intro>
                    <div class="introduction">
                        <h1>Introduction</h1>
                    </div>
    
                    <div class="lessonhour">
                        <p1>3 Lesson</p1>
                    </div><br>

                    <div class="minja">
                        <p1>32h 35m</p1>
                    </div><br>


                </intro>

                <div class="clip">
                    <img src="imgdetail/IMG_5617.PNG" alt="clipja">
                </div><br>
        
                <div class="header-coursedetail">
                    <h3>Course details</h3>
                </div>
        
                <div class="header-detail">
                    <p>- สรุปเนื้อหาภาษาจบในคอร์สเดียว ใช้เวลาเรียนเพียง 2 เดือนก็จบคอร์สได้ประหยัดเวลาเรียนเก็บเนื้อหาล่วงหน้าได้ไว้ล่วงหน้า</p><br>
                    <p>- ครอบคลุมเนื้อตั้งแต่ ม.1-ม.3 รวมกว่า 14 บทเรียนสำคัญ พื้นฐานแน่น แม่นแกรมม่า <br> เทคนิคใช้ได้จริง จะช่วยให้น้องๆเก่งภาษาอังกฤษขึ้นอย่างแน่นนอน</p><br>
                    <p>-เหมาะสำหรับน้องที่อยากเรียนเนื้อหาล่วงหน้าเพื่อเตรียมสอบ/เพิ่มเกรดที่โรงเรียน<br>และเรียนล่วงหน้าสำหรับปูพื้นฐานก่อนไปตะลุยโจทย์</p><br>
                    <p>- มีโจทย์ให้น้องฝึกทำครบทุกบท ถ้าทำได้หมดโอกาสสอบเข้ามีสูงมาก<br></p><br>
                    </p>
                </div>
        
                <div class="header-lessondetail">
                    <h3>Lesson details</h3>
                    <p>รวมกว่า 3 บทเรียนที่ต้องเรียนและใช้เตรียมสอบ<br>
                        1. Speaking<br><br>
                        2. Listening<br><br>
                        3. Writing<br><br>
                    </p>
                </div>
        
                <div class="headerbuycourse">
                    <a href="#" class="buynow">Buy course now</a>
                </div>
        
            </section>
            
        </div>
    </header>