@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

contain{
    max-width: 5000px;
    height: 1741px;
    margin: 10px auto;
}

.navbar{
    width: 1440px;
    height: 100px;
    flex-shrink: 0;
    background: #00001D;
}

.headerja{
    padding: 10px;
    display: flex;
}

.logo{
    margin-left: 80px;
}

.ringring{
    margin-top: 25px;
    margin-left: 1000px;
}

.profile{
    margin-left: 30px;
    margin-top: 13.5px;
}

.auto-group-9efs-8uf{
  display: flex;
  margin: 120px;
  justify-content: space-between;
}

.addcourse{
    width: 277.794px;
    height: 266.59px;
    flex-shrink: 0;
    border-radius: var(--Forms-radius, 20px);
    border: 1px solid #000;
    background: #FBFBFB;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    padding: 90px;
    text-align: center;
}

.addcoursee h1{
  color: rgba(0, 0, 0, 0.58);
  text-align: center;
  font-family: Inter;
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-decoration: none;
  display: inline-block;
}

.containcourse  {
  width: 277.794px;
  height: 266.59px;
  flex-shrink: 0;
  border-radius: var(--Forms-radius, 20px);
  background: #ffffff;
  border: 1px solid rgb(0, 0, 0);
  padding: 7.2px;
}

.lessonhour{
  display: flex;
}

.auto-group-afmt-t3b{
  display: flex;
  bottom: 0;
}

.delete{
  position: relative;
  top: -50px;
  left: 90px;
}

.row2{
  display: flex;
  margin: 120px;
  justify-content: space-between;
}

.containleshour{
  width: 63px;
  height: 13px;
  flex-shrink: 0;
  border-radius: 15px;
  background: #E3E3E3;
  margin-right: 8px;
  margin-bottom: 7px;
}

.how-many-lesson--4RF{
  width: 46.563px;
  height: 11px;
  flex-shrink: 0;
  color: #000;
  text-align: center;
  font-family: Inter;
  font-size: 9px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-left: 9px;
  margin-top: 1px;
}

.how-many-hour-VWZ{
  width: 46.563px;
  height: 11px;
  flex-shrink: 0;
  color: #000;
  text-align: center;
  font-family: Inter;
  font-size: 9px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-left: 9px;
  margin-top: 1px;
}

.baht-lifetime-Jd7-sub-0{
  color: #000;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.title{
  width: 98px;
  height: 14px;
  flex-shrink: 0;
  color: #000;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 13px;
}

section {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


section.bg button[type=button] {
  width: 60px;
  height: 60px;
  background-color: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 15px;
  cursor: pointer;
}

section.bg button[type=button] svg {
    width: 60%;
}

section.popAlert {
    position: fixed;
    top: -100%;
    left: 0;
    right: 0;
    height: 100vh;
    z-index: 20;
    background-color: rgba(255,255,255,0.0);
    transition: 0.6s top cubic-bezier(0.175, 0.885, 0.32, 1.275),
                0.1s background-color linear 0s;
}

section.popAlert.active {
    top: 0;
    background-color: rgba(255,255,255,0.3);

    transition: 0.3s top cubic-bezier(0.175, 0.885, 0.32, 1.275),
                0.6s background-color linear 0.3s;
}

section.popAlert aside {
    width: 90%;
    max-width: 350px;
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.6);
}

section.popAlert aside h2 {
    color: #FF0303;
    text-align: center;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

section.popAlert aside button[type=button] {
    width: 100px;
    font-size: 16px;
    font-weight: 600;
    margin-top: 15px;
    border: none;
    border-radius: 3px;
    padding: 5px 0;
    cursor: pointer;
    background-color: #e5e5e5;
    transition: 0.3s all ease-in-out;
}
/* Importing Google font - Open Sans */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

body {
  height: 100vh;
  width: 100%;
  background: #f8faec;

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px 15px;
}

.navbar .logo a {
  font-size: 1.8rem;
  text-decoration: none;
  color: #ffffff;
}

.navbar .links {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 35px;
}

.navbar .links a {
  font-weight: 500;
  text-decoration: none;
  color: #ffffff;
  padding: 10px 0;
  transition: 0.2s ease;
}

.navbar .links a:hover {
  color: #47b2e4;
}

.navbar .buttons a {
  text-decoration: none;
  color: #ffffff;
  font-size: 1rem;
  padding: 15px 0;
  transition: 0.2s ease;
}

.navbar .buttons a:not(:last-child) {
  margin-right: 30px;
}

.navbar .buttons .signin:hover {
  color: #47b2e4;
}

.navbar .buttons .signup {
  border: 1px solid #000000;
  padding: 10px 20px;
  border-radius: 0.375rem;
  text-align: center;
  transition: 0.2s ease;
}

.navbar .buttons .signup:hover {
  background-color: #3f5b67;
  color: #ffffff;
}

.hero-section {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 95vh;
  padding: 0 15px;
  max-width: 1200px;
  margin: 0 auto;
}

.hero-section .hero {
  max-width: 50%;
  color: #000000;
}

.hero-section .buttons {
  margin-top: 40px;
}

.hero-section .buttons a {
  text-decoration: none;
  color: #fff;
  padding: 12px 24px;
  border-radius: 0.375rem;
  font-weight: 600;
  transition: 0.2s ease;
  display: inline-block;
}

.hero-section .buttons a:not(:last-child) {
  margin-right: 15px;
}

.buttons .join {
  background-color: #47b2e4;
}

.hero-section .buttons .learn {
  border: 1px solid #fff;
  border-radius: 0.375rem;
}

.hero-section .buttons a:hover {
  background-color: #47b2e4;
}

/* Hamburger menu styles */
#menu-toggle {
  display: none;
}

#hamburger-btn {
  font-size: 1.8rem;
  color: #fff;
  cursor: pointer;
  display: none;
  order: 1;
}

@media screen and (max-width: 1023px) {
  .navbar .logo a {
    font-size: 1.5rem;
  }

  .links {
    position: fixed;
    left: -100%;
    top: 75px;
    width: 100%;
    height: 100vh;
    padding-top: 50px;
    background: #414849;
    flex-direction: column;
    transition: 0.3s ease;
  }

  .navbar #menu-toggle:checked ~ .links {
    left: 0;
  }

  .navbar #hamburger-btn {
    display: block;
  }

  .header .buttons {
    display: none;
  }

  .hero-section .hero {
    max-width: 100%;
    text-align: center;
  }



}
}
/* Importing Google font - Open Sans */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

body {
  height: 100vh;
  width: 100%;
  background: #f8faec;

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px 15px;
}

.navbar .logo a {
  font-size: 1.8rem;
  text-decoration: none;
  color: #000000;
}

.navbar .links {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 35px;
}

.navbar .links a {
  font-weight: 500;
  text-decoration: none;
  color: #000000;
  padding: 10px 0;
  transition: 0.2s ease;
}

.navbar .links a:hover {
  color: #47b2e4;
}

.navbar .buttons a {
  text-decoration: none;
  color: #000000;
  font-size: 1rem;
  padding: 15px 0;
  transition: 0.2s ease;
}

.navbar .buttons a:not(:last-child) {
  margin-right: 30px;
}

.navbar .buttons .signin:hover {
  color: #47b2e4;
}

.navbar .buttons .signup {
  border: 1px solid #000000;
  padding: 10px 20px;
  border-radius: 0.375rem;
  text-align: center;
  transition: 0.2s ease;
}

.navbar .buttons .signup:hover {
  background-color: #3f5b67;
  color: #000000;
}

.hero-section {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 95vh;
  padding: 0 15px;
  max-width: 1200px;
  margin: 0 auto;
}

.hero-section .hero {
  max-width: 50%;
  color: #000000;
}

.hero-section .buttons {
  margin-top: 40px;
}

.hero-section .buttons a {
  text-decoration: none;
  color: #000000;
  padding: 12px 24px;
  border-radius: 0.375rem;
  font-weight: 600;
  transition: 0.2s ease;
  display: inline-block;
}

.hero-section .buttons a:not(:last-child) {
  margin-right: 15px;
}

.buttons .join {
  background-color: #47b2e4;
}

.hero-section .buttons .learn {
  border: 1px solid #000000;
  border-radius: 0.375rem;
}

.hero-section .buttons a:hover {
  background-color: #47b2e4;
}

/* Hamburger menu styles */
#menu-toggle {
  display: none;
}

#hamburger-btn {
  font-size: 1.8rem;
  color: #000000;
  cursor: pointer;
  display: none;
  order: 1;
}

@media screen and (max-width: 1023px) {
  .navbar .logo a {
    font-size: 1.5rem;
  }

  .links {
    position: fixed;
    left: -100%;
    top: 75px;
    width: 100%;
    height: 100vh;
    padding-top: 50px;
    background: #414849;
    flex-direction: column;
    transition: 0.3s ease;
  }

  .navbar #menu-toggle:checked ~ .links {
    left: 0;
  }

  .navbar #hamburger-btn {
    display: block;
  }

  .header .buttons {
    display: none;
  }

  .hero-section .hero {
    max-width: 100%;
    text-align: center;
  }
}
}

.navbar{
  background:#f8faec
  ;
  max-width: auto 100%;
}

.front {
  position: relative;
  left: 10px;
}

@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500');

.sidebar {
  position: fixed;
  left: -250px;
  width: 250px;
  height: 100%;
  background: #000000;
  transition: all .5s ease;
  position:relative;
  bottom:510px;
}
.sidebar header {
  font-size: 22px;
  color: white;
  line-height: 70px;
  text-align: center;
  background: #000000;
  user-select: none;
}
.sidebar ul a{
  display: block;
  height: 100%;
  width: 100%;
  line-height: 65px;
  font-size: 20px;
  color: white;
  padding-left: 40px;
  box-sizing: border-box;
  border-bottom: 1px solid black;
  border-top: 1px solid rgba(255,255,255,.1);
  transition: .4s;
}
ul li:hover a{
  padding-left: 50px;
}
.sidebar ul a i{
  margin-right: 16px;
}
#check{
  display: none;
}
label #btn,label #cancel{
  position: absolute;
  background: #000000;
  border-radius: 3px;
  cursor: pointer;
}
label #btn{
  left: 40px;
  top: 25px;
  font-size: 35px;
  color: white;
  padding: 6px 12px;
  transition: all .5s;
}
label #cancel{
  z-index: 1111;
  left: -195px;
  top: 17px;
  font-size: 30px;
  color: #0a5275;
  padding: 4px 9px;
  transition: all .5s ease;
}
#check:checked ~ .sidebar{
  left: 0;
}
#check:checked ~ label #btn{
  left: 250px;
  opacity: 0;
  pointer-events: none;
}
#check:checked ~ label #cancel{
  left: 195px;
}
#check:checked ~ section{
  margin-left: 250px;
}
section{
  background:F8FAEC;
  background-position: center;
  background-size: cover;
  height: 100vh;
  transition: all .5s;
}

.logout{
  margin-top: 400px;
}

.logimg{
  position: relative;
  margin-bottom: 500;
}

.Buycourse{
    width: 77px;
    height: 20px;
    flex-shrink: 0;
    border-radius: var(--Forms-radius, 20px);
    background: #DA5757;
    position :relative;
    left: 100px;
    border: 3px solid #ac57da;
}

