/*===== GOOGLE FONTS =====*/

 @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");
 /*===== VARIABLES CSS =====*/

 :root {
     --nav-width: 92px;
     /*===== Colores =====*/
     --first-color: #428749;
     --bg-color: #fff;
     --sub-color: #b6cefc;
     --white-color: black;
     /*===== Fuente y tipografia =====*/
     --body-font: "Poppins", sans-serif;
     --normal-font-size: 1rem;
     --small-font-size: 0.875rem;
     /*===== z index =====*/
     --z-fixed: 100;
 }
 /*===== BASE =====*/

 *,
 ::before,
 ::after {
     box-sizing: border-box;
 }

 body {
     position: relative;
     margin: 0;
     padding: 2rem 0 0 6.75rem;
     font-family: var(--body-font);
     font-size: var(--normal-font-size);
     transition: 0.5s;
     background-color: #f8faec
 }

 h1 {
     margin: 0;
 }

 ul {
     margin: 0;
     padding: 0;
     list-style: none;
 }

 a {
     text-decoration: none;
 }
 
 /*Expander menu*/

 .expander {
     width: calc(var(--nav-width) + 9.25rem);
 }
 /*Add padding body*/

 .body-pd {
     padding: 2rem 0 0 16rem;
 }
 /*Active links menu*/

 .active {
     color: var(--first-color);
 }
 /*===== COLLAPSE =====*/

 .collapse {
     grid-template-columns: 20px max-content 1fr;
 }

 .collapse__link {
     justify-self: flex-end;
     transition: 0.5s;
 }

 .collapse__menu {
     display: none;
     padding: 0.75rem 2.25rem;
 }

 .collapse__sublink {
     color: var(--sub-color);
     font-size: var(--small-font-size);
 }

 .collapse__sublink:hover {
     color: var(--white-color);
 }
 /*Show collapse*/

 .showCollapse {
     display: block;
 }
 /*Rotate icon*/

 .rotate {
     transform: rotate(180deg);
 }

 .content {
     width: 100%;
     padding: 30px;
 }

 .mt--1 {
     margin-top: -1px;
 }

 .mt-25 {
     margin-top: 25px;
 }

 .card {
     position: relative;
     width: 375px;
     background: #FFF;
     box-shadow: 0px 15px 30px 0px rgba(25, 27, 42, 0.05);
 }

 .card__img {
     width: 100%;
     object-fit: cover;
 }

 .card__body {
     padding: 20px;
 }

 .card__title {
     font-size: 24px;
     font-weight: 700;
     margin-top: -10px;
     margin-bottom: 10px;
 }

 .card__text {
     padding-top: 16px;
     padding-bottom: 24px;
     color: #5A5A5A;
     font-size: 14px;
     font-weight: 400;
     line-height: 170%;
 }

 .card__footer {
     display: flex;
     align-items: center;
     justify-content: space-between;
 }

 .c-pill {
     align-items: center;
     font-weight: bold;
     font-size: 11px;
     display: inline-block;
     height: 100%;
     white-space: nowrap;
     width: auto;
     position: relative;
     border-radius: 100px;
     line-height: 1;
     overflow: hidden;
     padding: 0px 12px 0px 20px;
     text-overflow: ellipsis;
     line-height: 1.25rem;
     color: #595959;
     word-break: break-word;
     &:before {
         border-radius: 50%;
         content: '';
         height: 10px;
         left: 6px;
         margin-top: -5px;
         position: absolute;
         top: 50%;
         width: 10px;
     }
 }

 .radius-20 {
     border-radius: 20px;
 }

 .text-light {
     color: #fff;
 }

 .mr-10 {
     margin-right: 10px;
 }

 .fs-75 {
     font-size: .75rem;
 }

 .fs-price {
     font-size: 1.25rem;
     font-weight: bolder;
 }

 .text-success {
     color: #4FA55A;
 }

 .c-pill--success {
     background: #4FA55A;
 }

 .c-pill--secondary {
     background: #E3E3E3;
 }
/*menu*/
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500');


.sidebar {
  position: fixed;
  left: -250px;
  width: 250px;
  height: 100%;
  background: #000000;
  transition: all .5s ease;
  position: relative;
  bottom: 535px;
  left:200-px ;
  margin-left: -140px;
  
 
}
.sidebar header {
  font-size: 22px;
  color: white;
  line-height: 70px;
  text-align: center;
  background: #000000;
  user-select: none;
  
}
.sidebar ul a{
  display: block;
  height: 100%;
  width: 100%;
  line-height: 65px;
  font-size: 20px;
  color: white;
  padding-left: 40px;
  box-sizing: border-box;
  border-bottom: 1px solid black;
  border-top: 1px solid rgba(255,255,255,.1);
  transition: .4s;
 
}
ul li:hover a{
  padding-left: 50px;
}
.sidebar ul a i{
  margin-right: 16px;
}
#check{
  display: none;
}
label #btn,label #cancel{
  position: absolute;
  background: #000000;
  border-radius: 3px;
  cursor: pointer;
}
label #btn{
  left: 40px;
  top: 25px;
  font-size: 35px;
  color: white;
  padding: 6px 12px;
  transition: all .5s;
}
label #cancel{
  z-index: 1111;
  left: -195px;
  top: 17px;
  font-size: 30px;
  color: #0a5275;
  padding: 4px 9px;
  transition: all .5s ease;
}
#check:checked ~ .sidebar{
  left: 0;
}
#check:checked ~ label #btn{
  left: 250px;
  opacity: 0;
  pointer-events: none;
}
#check:checked ~ label #cancel{
  left: 195px;
}
#check:checked ~ section{
  margin-left: 250px;
}
section{
  background:F8FAEC;
  background-position: center;
  background-size: cover;
  height: 100vh;
  transition: all .5s;
}

.logout{
  margin-top: 400px;
}

.logimg{
  position: relative;
  margin-bottom: 500;
}