<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <cont>
        <div class="contact">
            <h1>Contact</h1>

            <div class="conde">
                <p>Tutor is waiting to assist you</p>
                <p>Please allow up to 1-Business days respone time in<br> 
                order for us to fully address yout inquiries</p>
            </div>

            <Line>
                <a href="#">Line</a>
            </Line><br>
            <Face>
                <a href="#">Face</a>
            </Face>
            <div class="clip">
                <img src="imgcontact/undraw_manage_chats_re_0yoj.svg">

            </div>
        </div>

    </cont>

</body>
</html>