@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}
.contacttitle{
    width: 616px;
    height: 63px;
    flex-shrink: 0;
    color: #000;
text-align: center;
font-family: Inter;
font-size: 64px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.conde{
    width: 397px;
    height: 76px;
    flex-shrink: 0;
    color: #ca1d1d;

text-align: center;
font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
}